[Desktop Entry]
Name=NightMail
Comment=A cross-platform email client for Microsoft 365, Gmail, and IMAP/SMTP
Exec=nightmail %U
Icon=${SNAP}/nightmail.png
Type=Application
Categories=Network;Email;
MimeType=x-scheme-handler/mailto;
StartupNotify=true
StartupWMClass=au.com.sharpblue.nightmail
